<head>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li> <a href="/companies">companies</a> </li>
            <li> <a href="/companies/new">New companies</a> </li>

        </ul>
    </nav>
</head>